/*////////////////////////////////
THEME COLORS
////////////////////////////////*/

.is-theme-light{
    background-color: $color-light-gray;
}

.is-theme-medium{
    background-color: $color-med-gray;
}

.is-theme-dark{
    background-color: $color-dark-gray;
}