/*////////////////////////////////
COLOR PALLETTE
////////////////////////////////*/
$color-dark-gray: #5e5d5d;
$color-med-gray: #8e8e8e;
$color-light-gray: #e7e7e7;

/*////////////////////////////////
TEXT SIZE VARIABLES
////////////////////////////////*/
$text-size-lv3: 3.6rem;
$text-size-lv2: 2.4rem;
$text-size-lv1: 1.8rem;

/*////////////////////////////////
FONT VARIABLES
////////////////////////////////*/
$text-font: 'Quicksand', sans-serif;