/*////////////////////////////////
SET DISPLAY
////////////////////////////////*/

.set-inline{
    display: inline-block;
}

/*////////////////////////////////
SET ALIGNMENT
////////////////////////////////*/

.align-left{
    float: left;
}

.align-right{
    float: right;
}